    include ./_includes/mixins.jade 
    include ./_includes/header.jade 
    .side-image
      .images-wrapper
      .side-image-content
        h4 #{dates}
        h1 #{tagline}
        p #{blurb}
    .container
      #timeline
        // Timeline begin here
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1936', 'star')
          p  Frinks left Tabor City and set off to enlist in the United States Navy in Norfolk, Virginia where he secures employment at a US naval base. 
        +timeline-item('1942', 'star')
          p Returning to Edenton in 1942, Frinks married Mildred Ruth Holley and they had a daughter.
        +timeline-item('1948', 'star')
          p B, Frinks moved to the District of Columbia in 1948 to seek new job opportunities. 
        +timeline-item('1953', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1962', 'star')
          p In 1962, Frinks was first arrested during the Edenton Movement for a demonstration at a theater when Frinks refused to stop what police considered “unlawful picketing.”[13] This incident was the first of Frinks’ eighty-seven self-reported arrests for civil rights demonstrations throughout his lifetime.[ 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1920', 'star')
          p Born to Mark and Kizzie Frinks on August 15, 1920 in the small town of Wampee, South Carolina. He is the 10th of eleven children. 
        +timeline-item('1977', 'book', 'http://refills.bourbon.io/')
          p Frinks formally ends employment with SCLC
        +timeline-item('201', 'book', 'http://refills.bourbon.io/')
          p Frinks died on July 19, 2004, in Edenton, North Carolina, at the age of 84.
      // Timeline ends here
    .hero
      .hero-inner
        .hero-copy
          h1 The Hearing Eye
          p Pure Eye Music
          iframe(width="560" height="315" src="https://www.youtube.com/embed/zIykwZt5LQE" frameborder="0" allowfullscreen)
          blockquote.bq
    include ./_includes/footer.jade
    script(src='assets/js/script.js')