doctype html
html
  head
    meta(charset='utf-8')
    title Three Pane App — Potion — Magic of CSS — Adam Schwartz
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='icon', href='/magic-of-css/favicon.ico')
    link(rel='stylesheet', href='assets/css/style.css')
  body
    .three-pane-app
      .top
        .title
      .bottom
        .left
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
        .middle
          .page
            .title
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
            p.mock-paragraph
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
              b
        .right
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
          .item
