footer.footer-2(role='contentinfo')
  .footer-logo
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='Logo image')
  ul
    li
      a(href='#{about}' target="_blank") About
    li
      a(href='credits.html' target="_blank") Further Reading
  .footer-secondary-links
    ul.footer-social
      li  
        +copyr('Sentimental Graffit', 'https://www.freecodecamp.com/omgninjas')
      li
        a(href='javascript:void(0)')
          i.fa.fa-twitter
      li
        a(href='javascript:void(0)')
          i.fa.fa-fire
