footer.footer-2(role='contentinfo')
  .footer-logo
    img(src='assets/img/logo.svg', alt='Logo image')
  ul
    li
      a(href='#{about}' target="_blank") About
    li
      a(href='http://www.greatblackheroes.com/science/percy-julian/' target="_blank") Further Reading
  .footer-secondary-links
    ul.footer-social
      li  
        +copyr('Sentimental Graffit', 'https://www.freecodecamp.com/omgninjas')
      li
        a(href='javascript:void(0)')
          i.fa.fa-twitter
      li
        a(href='javascript:void(0)')
          i.fa.fa-fire
