section.section-quotes
  h3#quotes
  .quotes-mobile-nav
    span.quote-button.active-quote
  .quotes-belt
      .quote-content
        .quote-quote-mark 
          include ./icons/icon-quote-mark.jade
            #{quote.quote}
            caption #{quote.cite}
  .quote-controls
    .quote-control-next
      include ./icons/icon-next.jade
    .quote-control-prev
      include ./icons/icon-prev.jade

