+timeline-item('1889', 'birthday-cake')
  p Claude McKay is born September 15, 1989 in Clarendon Parish, Jamaica the youngest of 11 to farmers.
+timeline-item('1803', 'home')
  p At the age of four years, McKay began primary school at the church that his family attended.
+timeline-item('1896', 'road')
  p Sent to live with his eldest brother, a teacher, in a small town near Montego Bay at the age of 7 to be given the best education available. 
+timeline-item('1906', 'graduation-cap')  
  p McKay passes the Jamaican government’s trade scholarship examination. Begins craftsman apprenticeshipin St. Ann’s Parish.
+timeline-item('1907', 'user-plus')  
  p Meets Walter Jekyll, literary mentor and British folklorist, gay patron, and expatriate living in Jamaica who becomes a patron and mentor for McKay, encouraging his writing. 
+timeline-item('1911', 'circle')
  p Joins constabulary in Spanish Town, Jamaica.
+timeline-item('1912', 'music')  
  p Publishes Songs of Jamaica and Constab Ballads. Comes to United States and enrolls at Tuskegee Institute in Alabama.
+timeline-item('1913-1914', 'graduation-cap')  
  p Attends Kansas State University.
+timeline-item('1914', 'heart')  
  p Goes to New York City. July 30, marries Eulalie Imelda Edwards; marriage ends six months later.
+timeline-item('1917', 'book')  
  p Publishes poems under pseudonym of Eli Edwards.
+timeline-item('1918', 'user-plus')  
  p Meets Frank Harris, editor of Pearson's Magazine, McKay's second significant patron.
+timeline-item('1919', 'book')  
  p Publishes "If We Must Die" in Max Eastman's The Liberator.
+timeline-item('1919-1902', 'plane')  
  p Travels to London. Reads Karl Marx, beginning his commitment to Marxism; works for Sylvia Pankhurst's Marxist periodical, Workers' Dreadnought.
+timeline-item('1920', 'book')  
  p Publishes Spring in New Hampshire.
+timeline-item('1921', 'suitcase')  
  p Returns to New York. Becomes associate editor of The Liberator and publishes the essay "How Black Sees Green and Red."
+timeline-item('1922', 'suitcase')  
  p Publishes Harlem Shadows and the essay "He Who Gets Slapped" in The Liberator. January, becomes coeditor of The Liberator; June, resigns as coeditor,
+timeline-item('1922-1923', 'plane') 
  p Makes the "magic pilgrimage" to Russia. Enthusiastic welcome by Soviet bureaucracy and Russian people. Addresses The Third Communist International, Moscow.
+timeline-item('1923-1933', 'globe')
  p Expatriate years in Europe and North Africa.
+timeline-item('1925', 'book')
  p Writes first novel, "Color Scheme," later destroyed.
+timeline-item('1927, book')
  p Alain Locke publishes Four Negro Poets, containing work by McKay.
+timeline-item('1928', 'book')
  p Publishes Home to Harlem, a popular success.
+timeline-item('1929', 'book')
  p Banjo.
+timeline-item('1932', 'book')
  p Gingertown and essay, "A Negro to his Critics."
+timeline-item('1933', 'book')
  p Banana Bottom.
+timeline-item('1934', 'plane')
  p Returns to United States. Spends several months in welfare camp, Camp Greycourt, New York.
+timeline-item('1935','book')
  p Publishes the essay "Harlem Runs Wild."
+timeline-item('1937', 'book')
  p A Long Way from Home
+timeline-item('1938', 'user-plus')
  p Meets Ellen Tarry, Roman Catholic writer
+timeline-item('1939', 'sign-out')
  p Loses job with Federal Writers Project of the Works Progress Administration. Appears before subdivision of Dies Committee.
+timeline-item('1940', 'book')
  p Publishes Harlem: Negro Metropolis and the essay "Lest We Forget."
+timeline-item('1943', 'hotel')
  p Suffers stroke while working at a Federal shipbuilding yard. Moves to Chicago.
+timeline-item('1944', 'home')
  p October 11, baptized into Roman Catholic faith.
+timeline-item('1945', 'book')
  p Publishes essay, "On Becoming a Roman Catholic," and poem, "Look Within."
+timeline-item('1946', 'book')
  p In health resort in Albuquerque, New Mexico. Publishes poem, "The Middle Ages," and essay, "Why I Became a Catholic."'
+timeline-item('1948', 'heartbeat')
  p Dies in Chicago; buried in New York after a service in Harlem.
+timeline-item('1953', 'book', 'https://www.jstor.org/stable/271657?seq=1#page_scan_tab_contents', 'Read it here')
  p Selected Poems of Claude McKay published; essay, <em>Boyhood in Jamaica</em>, published in Phylon.