+timeline-item('1899', 'birthday-cake')
  p Born in Montgomery, Alabama on April 11, the eldest of six. 
+timeline-item('1920', 'graduation-cap')
  p Graduates first in his class from DePauw University with a bachelor’s degree in chemistry.
+timeline-item('1923', 'graducation-cap')
  p Earns master’s degree in chemistry from Harvard University.
+timeline-item('1928', 'briefcase')
  p Heads chemistry department at Howard University.
+timeline-item('1931', 'graduation-cap')
  p Awarded Ph.D. from the University of Vienna, where he begins his work with plant compounds.
+timeline-item('1932', 'university')
  p Returns to teach at DePauw University
+timeline-item('1935', 'flask')
  p Succeeds in producing synthetic physostigmine, which leads to a glaucoma drug.
+timeline-item('1935', 'heart')
  p  Marries Anna Johnson, the first African American woman to earn a Ph.D. in sociology in the U.S.
+timeline-item('1936', 'briefcase') 
  p Begins working at the Glidden Company.
+timeline-item('1939', 'flask')
  p Succeeds in producing progesterone on an industrial scale.
+timeline-item('1940', 'child')
  p Son Percy Jr. is born.
+timeline-item('1942', 'flask')
  p Extracts a soybean protein that leads to the development of a fire-retardant foam that saves thousands of soldiers’ lives in World War II.
+timeline-item('1944', 'child')  
  p Daughter Faith is born.
+timeline-item('1947', 'trophy')
  p Receives the Spingarn Medal from the National Association for the Advancement of Colored People.
+timeline-item('1949', 'flask')
  p Synthesizes Compound S, a major ingredient in low-cost cortisone.
+timeline-item('1950', 'trophy')
  p The Chicago Sun-Times named Percy Julian the Chicagoan of the Year.
+timeline-item('1951', 'suitcase')
  p Moves to Oak Park, Illinois, where his family’s home is firebombed.
+timeline-item('1953', 'suitcase')  
  p Founds Julian Laboratories.
+timeline-item('1961', 'money') 
  p Sells the company for $2.3 million, becoming one of the first black millionaires
+timeline-item('1964', 'building-o') 
  p Founds Julian Associates and Julian Research Institute (a non-profit), which he managed for the rest of his life.
+timeline-item('1973','trophy')
  p Elected to the National Academy of Sciences in 1973 in recognition of his scientific achievements.[6] He became the second African-American to be inducted, after David Blackwell.
+timeline-item('1975', 'heartbeat')
  p Dies of liver cancer on April 19 at the age of 76.
+timeline-item('1975', 'university')
  p Percy L. Julian High School was opened on the south side of Chicago, Illinois as a Chicago public high school.
+timeline-item('1980', 'trophy')
  p The science and mathematics building on the DePauw University campus was rededicated as the Percy L. Julian Mathematics and Science Center. In Greencastle, Indiana, where DePauw is located, a street was named after him.
+timeline-item('1990', 'trophy')
  p Inducted into the National Inventors Hall of Fame
+timeline-item('1993', 'trophy')
  p U.S. Postal Service issues stamp in his honor.  
+timeline-item('1999', 'trophy', 'http://www.acs.org/content/acs/en/education/whatischemistry/landmarks/julian.html')
  p The American Chemical Society recognized Julian's synthesis of physostigmine as a National Historic Chemical Landmark
+timeline-item('2002', 'trophy')
  p Scholar Molefi Kete Asante listed Julian on his list of 100 Greatest African-Americans
+timeline-item('2007', 'video-camera', 'http://www.pbs.org/wgbh/nova/physics/forgotten-genius.html')
  p Ruben Santiago-Hudson portrayed Julian in the PBS Nova documentary about his life, called <em>Forgotten Genius</em>. Initially sponsored by the Camille and Henry Dreyfus Foundation and further funding by the National Endowment for the Humanities. Approximately sixty of Julian's family members, friends, and work associates were interviewed for the docudrama.

