- title = 'Tribute Page'
- website = 'http://www.theartstory.org/artist-lewis-norman.htm#biography_header'
- wiki = 'https://en.wikipedia.org/wiki/Jacques_Lacan'
- about = 'https://www.freecodecamp.com/challenges/build-a-tribute-page'
- fname = 'Jacques'
- mname = 'Marie' 
- 2nmame = 'Émile'
- lname = 'Lacan'
- quotes =  [{ "quote":"Whatever their subject matter, his paintings reveal there is no color barrier to transcendence", "author": "The Wall Street Journal" }]
- tagline = 'No Subject'
- dates = '(1901-1981)'

- blurb = 'Norman Lewis was an American painter, scholar, and teacher known for his incisive depictions of contemporary society. Lewis began his career as a Social Realist painter, focusing on the inequities caused by poverty and racism, and later shifted his focus towards abstraction and gestural mark-making in the mid-1940s. He emerged as the sole African American in the first generation of Abstract Expressionists alongside Ad Reinhardt, Franz Kline, and Jackson Pollock. He drew inspiration from artists such as Wassily Kandinsky and Mark Tobey, in addition to music and traditional African art. The self-taught Lewis remained committed to social concerns throughout his career, forming the Spiral Group with Romare Bearden, Charles Alston, and Hale Woodruff during the Civil Rights Movement in the 1960s. Born Norman Wilfred Lewis on July 23, 1909 in New York, NY, he died on August 27, 1979 in the city of his birth at the age of 70.'



                
                
                
                
                
                
                
                
                
                
                
                
                
