- title = 'Tribute';
- website = 'http://www.english.illinois.edu/maps/poets/m_r/mckay/mckay.htm';
- wiki = 'https://en.wikipedia.org/wiki/Jacques_Lacan';
- about = 'https://www.freecodecamp.com/challenges/build-a-tribute-page';
- names = ['Festus', 'Claudius', 'McKay'];
- shortname = 'Claude McKay';
- tagline = 'No-Subject';
- dates = 'Novelist, Poet, Journalist - (1889-1948)';
- quote = 'Thought is in disharmony with the soul. And the Greek <i>νοῦς</i> [nous – i.e. intuitive reasoning or perceptive understanding] is the myth of thought’s accommodating itself to the soul, accommodating itself in conformity with the world, the world (Umwelt [interior/exterior again…]) for which the soul is held responsible, whereas the world is merely the fantasy through which thought sustains itself – “reality” no doubt, but to be understood as a grimace of the real.'
- blurb = 'Claude McKay was a Jamaican-American writer, port and journalist who was a seminal figure in the Harlem Renaissance.'