- title = 'Tribute';
- website = 'http://www.chemheritage.org/percy-julian/teachers/narrative.html';
- wiki = 'https://en.wikipedia.org/wiki/Percy_Lavon_Julian';
- about = 'https://www.freecodecamp.com/challenges/build-a-tribute-page';
- names = ['Dr', 'Percy', 'Lavon', 'Julian'];
- shortname = 'Percy Julian';
- tagline = 'Forgotten Genius';
- dates = 'Academic, Chemist, Scientist - (1899-1975)';
- quote = {"quote":"His story is a story of great accomplishment, of heroic efforts and overcoming tremendous odds...a story about who we are and what we stand for and the challenges that have been there and the challenges that are still with us.", "cite":"James Anderson, Historian"}
- blurb = "Percy Julian should be a name known to all of society for the contributions he made to the field of science. He was an African American research chemist and a pioneer in the chemical synthesis of medicinal drugs from plants. His research and development of synthetic compounds made him one of the most significant contributors to science and health care in the 20th century. <strong>His work laid the foundation for the steroid drug industry's production of cortisone, other corticosteroids, and birth control pills.</strong> He later became one of the first black millionaires. His work helped greatly reduce the cost of steroid intermediates to large multinational pharmaceutical companies, helping to significantly expand the use of several important drugs. <strong>Julian received more than 130 chemical patents.</strong> He was one of the first African Americans to receive a doctorate in chemistry. He was the first African-American chemist inducted into the National Academy of Sciences, and the second African-American scientist inducted from any field."