- title = 'Tribute Page';
- website = 'http://www.lacan.com/';
- wiki = 'https://en.wikipedia.org/wiki/Jacques_Lacan';
- about = 'https://www.freecodecamp.com/challenges/build-a-tribute-page';
- names = ['Jacques', 'Marie', 'Émile', 'Lacan'];
- tagline = 'No Subject';
- dates = 'French, (1901-1981)';
